services:
  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    user: "0:0"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${SQL_SA_PASSWORD}
      - SQL_DATABASE=${SQL_DATABASE}
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "${SQL_PORT:-1433}:1433"
    command: >
      /bin/bash -c "
      /opt/mssql/bin/sqlservr &
      pid=$$!;
      echo 'Waiting for SQL Server to start...';
      sleep 30;
      /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $${MSSQL_SA_PASSWORD} -C -v SQL_DATABASE=$${SQL_DATABASE} -i /docker-entrypoint-initdb.d/init-db.sql;
      wait $$pid
      "

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "${RABBITMQ_PORT:-5672}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT:-15672}:15672"

  redis:
    image: redis:latest
    container_name: redis
    volumes:
      - redis_data:/data
    ports:
      - "${REDIS_PORT:-6379}:6379"

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "${REDIS_INSIGHT_PORT:-5540}:5540"
    volumes:
      - redis_insight_data:/data

volumes:
  sqlserver_data:
  rabbitmq_data:
  redis_data:
  redis_insight_data:
