services:
  webapi:
    build:
      context: ../../
      dockerfile: src/Presentation/WebAPI/Dockerfile
    container_name: webapi
    ports:
      - "${WEBAPI_PORT:-5000}:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SqlServer__Host=sqlserver
      - SqlServer__Port=1433
      - SqlServer__User=${SQL_USER:-sa}
      - SqlServer__Password=${SQL_SA_PASSWORD}
      - SqlServer__Database=${SQL_DATABASE}
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Port=5672
      - RabbitMQ__User=${RABBITMQ_USER}
      - RabbitMQ__Password=${RABBITMQ_PASSWORD}
      - Redis__Host=redis
      - Redis__Port=6379
    depends_on:
      - webapp
    networks:
      - default
      - infra_network

  webapp:
    build:
      context: ../../src/Presentation/webapp
      dockerfile: Dockerfile
    container_name: webapp
    ports:
      - "${WEBAPP_PORT:-4200}:80"
    environment:
      - API_URL=http://localhost:${WEBAPI_PORT:-5000}
    networks:
      - default

networks:
  infra_network:
    external: true
    name: ${INFRA_NETWORK_NAME}
