@page "/containers/add"
@using Application.Features.Containers
@using Application.Features.Containers.CreateContainer
@using Microsoft.AspNetCore.Components.Forms
@inject IContainers Containers
@inject NavigationManager NavigationManager

<PageTitle>Add Container</PageTitle>

<h1>Add Container</h1>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="_command" OnValidSubmit="HandleSubmit" FormName="AddContainerForm" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <InputText id="name" class="form-control" @bind-Value="_command!.Name" />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <InputText id="description" class="form-control" @bind-Value="_command!.Description" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create Container</button>
                <a href="/" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private CreateContainerCommand? _command { get; set; }

    protected override void OnInitialized()
    {
        _command ??= new CreateContainerCommand();
    }

    private async Task HandleSubmit()
    {
        if (_command is null) return;
        
        await Containers.CreateAsync(_command, CancellationToken.None);
        NavigationManager.NavigateTo("/");
    }
}
